name: Deploy Mongo/MySQL On ECS/Fargate CF Stack

on:
  push:
    branches: [main]
#    paths:
#      - "vpc/iac-mongo-mysql-efs-on-ecsfargate.yaml"
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  STACK_NAME: iac-mongo-mysql-efs-on-ecsfargate
  TEMPLATE_FILE: vpc/iac-mongo-mysql-efs-on-ecsfargate.yaml
  MONGODB_USER: userofthemongo
  VPC_NAME: rs-apps-0-vpc
  PRIVATE_SUBNET_NAME: rs-apps-0-subnet-private1-us-east-1a
  PUBLIC_SUBNET_NAME: rs-apps-0-subnet-public
  DEPLOY_BUCKET: rs-deploy-artifacts-0

jobs:
  deploy-mongo-mysql-ecsfargate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Resolve VPC ID
        id: resolve-vpc
        run: |
          VPC_ID=$(aws ec2 describe-vpcs \
            --filters "Name=tag:Name,Values=${VPC_NAME}" \
            --query "Vpcs[0].VpcId" \
            --output text)
          echo "Resolved VPC ID: $VPC_ID"
          echo "VPC_ID=$VPC_ID" >> $GITHUB_ENV

      - name: Get Private subnet ID
        id: subnet-private
        run: |
          PRIVATE_SUBNET_ID=$(aws ec2 describe-subnets \
            --filters "Name=tag:Name,Values=${PRIVATE_SUBNET_NAME}" \
            --query "Subnets[0].SubnetId" \
            --output text)
          echo "Resolved Private Subnet ID: $PRIVATE_SUBNET_ID"
          echo "PRIVATE_SUBNET_ID=${PRIVATE_SUBNET_ID}" >> $GITHUB_ENV

      - name: Get Public subnet ID
        id: subnet-public
        run: |
          PUBLIC_SUBNET_ID=$(aws ec2 describe-subnets \
            --filters "Name=tag:Name,Values=${PUBLIC_SUBNET_NAME}" \
            --query "Subnets[0].SubnetId" \
            --output text)
          echo "Resolved Public Subnet ID: $PUBLIC_SUBNET_ID"
          echo "PUBLIC_SUBNET_ID=${PUBLIC_SUBNET_ID}" >> $GITHUB_ENV



      -  name: Deploy CloudFormation stack
         uses: aws-actions/aws-cloudformation-github-deploy@master
         with:
           name: ${{ env.STACK_NAME }}
           template: ${{ env.TEMPLATE_FILE }}
           parameter-overrides: >-
             VpcId=${{ env.VPC_ID }},
             PrivateSubnet=${{ env.PRIVATE_SUBNET_ID }},
             PublicSubnet=${{ env.PUBLIC_SUBNET_ID }},
             MongoUsername=${{ env.MONGODB_USER }},
             MongoPassword=${{ secrets.MONGO_PASSWORD }},
             MySqlRootPassword=${{ secrets.MYSQL_ROOT_PASSWORD }}
           capabilities: CAPABILITY_NAMED_IAM
           no-fail-on-empty-changeset: "1"
