name: Deploy EBS For Database CF Stack

on:
  push:
    branches: [main]
    paths:
      - "iac-data-ebs-vol.yaml"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy CloudFormation stack
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: ebs-volume-stack
          template: vpc/iac-data-ebs-vol.yaml
          no-fail-on-empty-changeset: "1"
          capabilities: CAPABILITY_NAMED_IAM
          parameter-overrides: >-
            VolumeSize=${{ github.event.inputs.volumeSize || '20' }},
            AvailabilityZone=${{ github.event.inputs.availabilityZone || 'us-east-1a' }}
