name: Deploy Mongo/MySQL On ECS/Fargate CF Stack

on:
  push:
    branches: [main]
#    paths:
#      - "vpc/iac-mongo-mysql-efs-on-ecsfargate.yaml"
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  STACK_NAME: iac-mongo-mysql-efs-on-ecsfargate
  TEMPLATE_FILE: vpc/iac-mongo-mysql-efs-on-ecsfargate.yaml
  MONGODB_USER: userofthemongo
  VPC_NAME: rs-apps-0-vpc
  PRIVATE_SUBNET_NAME: rs-apps-0-subnet-private1-us-east-1a
  DEPLOY_BUCKET: rs-deploy-artifacts-0

jobs:
  deploy-mongo-mysql-ecsfargate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Resolve VPC ID
        id: resolve-vpc
        run: |
          VPC_ID=$(aws ec2 describe-vpcs \
            --filters "Name=tag:Name,Values=${VPC_NAME}" \
            --query "Vpcs[0].VpcId" \
            --output text)
          echo "Resolved VPC ID: $VPC_ID"
          echo "VPC_ID=$VPC_ID" >> $GITHUB_ENV

      - name: Get subnet IDs
        id: subnet
        run: |
          SUBNET_ID=$(aws ec2 describe-subnets \
            --filters "Name=tag:Name,Values=${PRIVATE_SUBNET_NAME}" \
            --query "Subnets[0].SubnetId" \
            --output text)
          echo "Resolved Private Subnet ID: $SUBNET_ID"
          echo "SUBNET_ID=${SUBNET_ID}" >> $GITHUB_ENV

      - name: Get VpcEndpoint ID for ECR.api
        id: vpce-api
        run: |
          VPCE_ID=$(aws ec2 describe-vpc-endpoints \
            --filters "Name=tag:Name,Values=rs-apps-0-vpce-ecr-api" \
            --query "VpcEndpoints[0].VpcEndpointId" \
            --output text)
          echo "Resolved VpcEndpoint for ECR.api ID: $VPCE_ID_ECR_API"
          echo "VPCE_ID_ECR_API=${VPCE_ID_ECR_API}" >> $GITHUB_ENV

      - name: Get VpcEndpoint ID for ECR.dkr
        id: vpce-dkr
        run: |
          VPCE_ID=$(aws ec2 describe-vpc-endpoints \
            --filters "Name=tag:Name,Values=rs-apps-0-vpce-ecr-dkr" \
            --query "VpcEndpoints[0].VpcEndpointId" \
            --output text)
          echo "Resolved VpcEndpoint for ECR.dkr ID: $VPCE_ID_ECR_DKR"
          echo "VPCE_ID_ECR_DKR=${VPCE_ID_ECR_DKR}" >> $GITHUB_ENV

      - name: Get VpcEndpoint ID for CloudWatch
        id: vpce-cloudwatch
        run: |
          VPCE_ID=$(aws ec2 describe-vpc-endpoints \
            --filters "Name=tag:Name,Values=rs-apps-0-vpce-logs" \
            --query "VpcEndpoints[0].VpcEndpointId" \
            --output text)
          echo "Resolved VpcEndpoint for CloudWatch ID: $VPCE_ID_CLOUDWATCH"
          echo "VPCE_ID_CLOUDWATCH=${VPCE_ID_CLOUDWATCH}" >> $GITHUB_ENV  

      -  name: Deploy CloudFormation stack
         uses: aws-actions/aws-cloudformation-github-deploy@master
         with:
           name: ${{ env.STACK_NAME }}
           template: ${{ env.TEMPLATE_FILE }}
           parameter-overrides: >-
             VpcId=${{ env.VPC_ID }},
             PrivateSubnet=${{ env.SUBNET_ID }},
             ECRApiEndpointId=${{ env.VPCE_ID_ECR_API }},
             ECSDkrEndpointId=${{ env.VPCE_ID_ECR_DKR }},
             CloudWatchEndpointId=${{ env.VPCE_ID_CLOUDWATCH }},
             MongoUsername=${{ env.MONGODB_USER }},
             MongoPassword=${{ secrets.MONGO_PASSWORD }},
             MySqlRootPassword=${{ secrets.MYSQL_ROOT_PASSWORD }}
           capabilities: CAPABILITY_NAMED_IAM
           no-fail-on-empty-changeset: "1"
