name: Deploy VPC and Infrastructure CF Stack

on:
  push:
    branches: [main]
    paths:
      - "vpc/iac-apps-vpc-and-more.yaml"
  workflow_dispatch:

jobs:
  deploy-rs-apps-vpc:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy CloudFormation stack
        uses: aws-actions/aws-cloudformation-github-deploy@master
        with:
          name: rs-apps-0
          template: vpc/iac-apps-vpc-and-more.yaml
          no-fail-on-empty-changeset: "1"
